<header class="site-header">

  <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-dark">

    <!-- Image and text -->
    <a class="navbar-brand mb-0 h1" href="{{ "index.html" | relative_url }}">
      <img src="{{ "/assets/img/logo.svg" | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="logo_picture_box">
      Picture Box of McDoughnut
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ "index.html" | relative_url }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="gallery.html" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {%- for post in site.posts -%}
                <a class="dropdown-item" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                {%- endfor -%}
      
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "./about.html" | relative_url }}">About</a>
        </li>

      </ul>
    </div>
  </nav>

</header>
