---
layout: default
---

<div class="container">
  <div class="row">
    {%- for post in site.posts -%}
    {% assign post_filename = post.path | split:"/" | last | split:"." | first %}
    {% assign cover_path = '/assets/img/' | append: post_filename | append: "/cover.jpg" %}
    <!-- <code>{{post.path}}</code>
    <pre>{{ post_filename }}</pre> -->
    <div class="card col-12 col-md-6" style="width: 18rem;">
      <!-- <img src="{{ post.img-card | escape }}" class="card-img-top" alt="{{ post.img-card-description | escape }}"> -->
      <img src="{{ cover_path | escape }}" class="card-img-top" alt="{{ post.title | escape }} gallery cover image">
      <div class="card-body">
        <h5 class="card-title">{{ post.title | escape }}</h5>
        <p class="card-text">{{ post.description | escape }}</p>
        <a href="{{ post.url | relative_url }}" class="btn btn-primary">Go to {{ post.title | escape }} Gallery</a>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>

<!--default home.html by template minima-->
<!--<div class="home">
      {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      {{ content }}

      {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <p class="feed-subscribe">
        <a href="{{ 'feed.xml' | relative_url }}">
          <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
        </a>
      </p>
{%- endif -%}-->
