---
layout: default
---

<div class="container">
  <div class="row">
    {%- for post in site.posts -%}
    {% assign post_filename = post.path | split:"/" | last | split:"." | first %}
    {% assign cover_path = '/assets/img/' | append: post_filename | append: "/cover.jpg" %}
    <!-- <code>{{post.path}}</code>
    <pre>{{ post_filename }}</pre> -->
    <div class="card col-12 col-md-6" style="width: 18rem;">
      <!-- <img src="{{ post.img-card | escape }}" class="card-img-top" alt="{{ post.img-card-description | escape }}"> -->
      <img src="{{ cover_path | relative_url }}" class="card-img-top" alt="{{ post.title | escape }} gallery cover image">
      <div class="card-body">
        <h5 class="card-title">{{ post.title | escape }}</h5>
        <p class="card-text">{{ post.description | escape }}</p>
        <a href="{{ post.url | relative_url }}" class="btn btn-primary">Go to {{ post.title | escape }} Gallery</a>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
